div.promotion-menu {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.promotion-menu ul {
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

div.promotion-menu li {
  display: flex;
  align-items: center;
  width: 18%;
}

div.promotion-menu img {
  width: 100%;
}

div.promotion-menu img:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.4);
}
